## Условие 1:

Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе(решить при помощи kwargs)

### Вариант 1

In [136]:
warehouse = {'apple': 10, 'plum': 15, 'lemon': 30}
sum_fruits = sum(warehouse.values())
print (sum_fruits)

55

### Вариант 2

In [137]:
warehouse = {'apple': 10,
        'plum': 15,
        'limon': 30}

In [138]:
def sum_fruits (**kwargs):
    for title, value in kwargs.items():
        return sum(kwargs.values())

In [139]:
sum_fruits(**warehouse)

55

### Вариант 3

In [140]:
def sum_fruits(**kwargs):
    for title, value in kwargs.items():
       return sum(kwargs.values())

In [141]:
sum_fruits(apple = 10, plum = 15, lemon = 30)

55

### Вариант 4 - не запустился(((

In [132]:
def warehouse(**kwargs):
    for title, value in kwargs.items():
        print(f'{title}: {value}')

In [133]:
warehouse(apple = 10, plum = 15, lemon = 30)

apple: 10
plum: 15
lemon: 30

In [134]:
def sum_fruits (x):
    return sum(x.values())

In [142]:
sum_fruits (warehouse)

TypeError: sum_fruits() takes 0 positional arguments but 1 was given

## Условие 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [149]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
total = [i for i in expenses if i > 0] # пишем в новый список total только значения больше 0

sum_total = 0
for i in total:
    sum_total += i
print(sum_total)

1425

In [151]:
sum_total = sum(total)
print(sum_total)

1425

In [162]:
total = [print(sum(i for i in expenses if i > 0))]

1425

## Условие 4

Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [159]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

cost = [1270, 8413, 9028, 3703, 5739,
        4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 
        4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 
        2008, 316, 6333, 5700, 2887]

In [208]:
sum(cost[i] for i in range(len(date)) if date[i].split('-')[1] == '11')

25098